body {
    display: flex;
    justify-content: center;
    display: none;
}

.informacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil {
    background-color: rgb(180, 180, 180);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil img {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: auto;
}

.nome_frase {
    text-align: center;
    visibility: hidden;
}

.nome {
    font-size: 24px;
}

.frase {
    text-align: center;
}

.opcoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
}

.botao {
    background-color: rgb(180, 180, 180);
    width: 400px;
    height: 50px;
    border: solid black;
    border-radius: 0%;
    display: flex; 
    align-items: center; 
    box-sizing: border-box;
}

.botao a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    flex: 1;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao i {
    margin-left: 10px;
    font-size: 25px;
}

.botao:hover {
    background-color: rgb(135, 135, 135);
    cursor: pointer;
}

.botao:active {
    background-color: rgb(250, 250, 250);
}

#canil, #xwitter, #portifolio, #kasino, #frase {
    visibility: hidden;
}
